.epilogue-regular {
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.epilogue-bold{
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}