* {
    box-sizing: border-box;
}



a {
    color: white;
}

.wrapper {
    color: white;
    padding: 2em;
}

header {
    display: none;
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
}

.logo {
    width: 200px;
}

.logo-bottom {
    width: 90px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
}

// Hamburger Menu button to toggle menu display
.menu-button {
    // Don't want button to look like a button
    border: none;
    background: transparent;

    // place in upper right corner
    position: absolute;
    right: 25px;
    top: 35px;

    // Don't show menu button on large screens
    @media (min-width: 900px) {
        display: none;
    }

    // When open, change button to an X for closing menu 
    &.open {
        span:first-child {
            transform: rotate(45deg) translate(8px, 8px);
        }

        span:nth-child(2) {
            display: none;
        }

        span:nth-child(3) {
            transform: rotate(-45deg);
        }
    }
}

// 'hamburger' bars
.menu-bar {
    display: block;
    width: 35px;
    height: 4px;
    background-color: $txt-grey;
    border-radius: 2px;
    margin-bottom: 7px;

    transition: transform 0.2s;
}


// Main menu navigation
// Mobile first - links are hidden off to right on small screen until user opens menu 
.menu {
    position: fixed;
    top: 100px;
    right: -100%;
    background: white;
    width: 100%;
    height: calc(100vh - 100px);
    padding: 2em;
    transition: all .5s ease-in-out;

    // Display menu on larger screens always
    @media (min-width: 900px) {
        position: unset;
        background: unset;
        width: auto;
        height: auto;
        padding: 0;
        display: flex;
    }

    // When user clicks, menu is opened with 'open' class
    &.open {
        display: flex;
        flex-direction: column;
        right: 0;
    }
}

// Individual Link styles (mobile first)
.menu-link {
    text-decoration: none;
    display: block;
    padding: 0.2em;
    color: $txt-grey;
    border-bottom: 1px solid transparent; // Prevent jumping on hover. Always take space
    border-top: 1px solid transparent; // Prevent jumping on hover. Always take space

    @media (min-width: 900px) {
        padding: 5px;
        margin: 0.5em;
        color: white;
    }

    &:hover,
    &:focus {
        background-color: #eee;
        border-top: 1px solid #aaa;
        border-bottom: 1px solid #aaa;

        @media (min-width: 900px) {
            background-color: unset;
            border-top: 1px solid transparent;
            border-bottom: 1px solid white;
        }
    }
}

.active {
    font-weight: bold;

    &:hover {
        cursor: default;
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
        background-color: unset;
    }
}

// Don't animate transition between mobile menu when resizing window 
.transition-stop * {
    transition: none !important;
}

@media (max-width: 860px) {
    .navbar {
        display: none;
    }
}